body {
    font-family: Arial, Helvetica, sans-serif,bold;
    margin: 0;
    background-size: cover;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 80%;
    padding: 12px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: rgb(0, 168, 135);
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 15px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  rgb(0,37,154);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: rgb(0,37,154);
    font-weight: 600;
}
.formulario{
    margin: auto;
    width: 450px;
    margin-top: 150px;
    border-radius: 3%;
}

select{
    font-size: 15px;
    width: 82%;
    padding: 10px;
    border: none;
}

textarea{
    font-size: 15px;
    width: 82%;
    padding: 10px;
    border: none;
}


























